version: '3.8'

services:
  meilisearch:
    image: getmeili/meilisearch:latest
    container_name: meilisearch
    ports:
      - "7700:7700"
    environment:
      MEILI_MASTER_KEY: masterKey
      MEILI_ENV: development
    volumes:
      - ./meilisearch_data:/meili_data
    command: meilisearch --db-path /meili_data

volumes:
  meilisearch_data:
    driver: local
