name = "visa-1"
compatibility_date = "2026-01-22"
pages_build_output_dir = ".next"

# Environment variables
[vars]
SUPABASE_URL = "https://cycnichledvqbxevrwnt.supabase.co"

# KV namespace for sessions
[[kv_namespaces]]
binding = "SESSION"
id = "5efb3f36000f4319ab0e926229da7b9d"

# R2 bucket for storage
[[r2_buckets]]
binding = "MY_BUCKET"
bucket_name = "data-pipeline"
